@media (min-width: 992px) {
  [data-kt-aside-minimize=on] .aside {
      width: 75px;
      transition: width .3s ease;
  }
}
@media (min-width: 992px) {
  .aside-fixed .aside {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      overflow: hidden;
  }
}